<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>eyowo</name>
	<displayName><![CDATA[Eyowo]]></displayName>
	<version><![CDATA[1]]></version>
	<description><![CDATA[Accept Interswitch, Visa, MasterCard &amp; eTransact Cards.]]></description>
	<author><![CDATA[Finbarrs Oketunji]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>